<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h3>
            Добро пожаловать на сайт, {{ request.user.first_name }}
        </h3>
        <p>
            Дата рождения: {{ request.user.birth_date }}
        </p>
        <p>
            Город: {{ request.user.city }}
        </p>
    {% else %}
        <h3>
            Вы не авторизованны на нашем сайте.
        </h3>
        <a href="{% url 'login_view' %}">
            Войти
        </a>
    {% endif %}
</body>
</html>
